html, body {
    margin: 1em;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(12, 1fr);
    grid-template-areas: 
        "n n h h h h h h h h h h"
        "n n m m m m m m m a a a"
        "n n m m m m m m m a a a"
        "n n m m m m m m m a a a"
        "n n f f f f f f f f f f";
}

.grid-item {
    padding: .5em;
    font-size: 2em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
header {
    grid-area: h;
    background-color: palegoldenrod;
}

nav {
    grid-area: n;
    background-color: lightcoral;
}

main {
    grid-area: m;
    background-color: lightgreen;
}

aside {
    grid-area: a;
    background-color: lightgray;
}

footer {
    grid-area: f;
    background-color: gold;
}
    
